.header-main-container{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    gap: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    color: rgb(46, 46, 46);
}

.header-main-container:visited {
    color: rgb(46, 46, 46);
}

.header-main-container a{
    color: rgb(46, 46, 46);
}