.flex-image-epch{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    height: auto;
    align-items: center;
    
    
}

.content-container-ep{
    display: flex;
    flex-direction: row;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 10vh;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-image-epch img{
    max-width:90%;
    height: auto;
    border-radius: 6px;
    box-shadow: 5px 10px 30px black;
    margin-bottom: 4vh;
    object-fit: cover;
}